<template>
    <div class="container">
        <div class="d-flex p-2">
            <div class="input-name-width">
                <Input v-model="nameFilter" placeholder="Name"></Input>
            </div>
            <div>
                <Input v-model="minPriceFilter" placeholder="min Price"></Input>
            </div>
            <div>
                <Input v-model="maxPriceFilter" placeholder="max Price"></Input>
            </div>
        </div>
        <div class="d-flex p-2">
            <Select v-model="bedroomFilter" placeholder="Bedrooms" multiple popper-class="filter-select-item" class="mt-6 lg:mr-2 lg:mt-0 w-full lg:w-auto">
                <Option
                    v-for="item in bedroomList"
                    :key="item"
                    :label="item"
                    :value="item">
                </Option>
            </Select>
            <Select v-model="bathroomFilter" placeholder="Bathrooms" multiple popper-class="filter-select-item" class="mt-6 lg:mr-2 lg:mt-0 w-full lg:w-auto">
                <Option
                    v-for="item in bathroomList"
                    :key="item"
                    :label="item"
                    :value="item">
                </Option>
            </Select>
            <Select v-model="storeysFilter" placeholder="Storeys" multiple popper-class="filter-select-item" class="mt-6 lg:mr-2 lg:mt-0 w-full lg:w-auto">
                <Option
                    v-for="item in storeysList"
                    :key="item"
                    :label="item"
                    :value="item">
                </Option>
            </Select>
            <Select v-model="garageFilter" placeholder="Garages" multiple popper-class="filter-select-item" class="mt-6 lg:mr-2 lg:mt-0 w-full lg:w-auto">
                <Option
                    v-for="item in garageList"
                    :key="item"
                    :label="item"
                    :value="item">
                </Option>
            </Select>

            <Button @click="clearFilters" type="primary" icon="el-icon-goods">Clear Filters</Button>
        </div>
        <div class="mt-5">
            <TownHousesTable :townHouses="townHouses"></TownHousesTable>
        </div>
    </div>
</template>

<script>
import { Input, InputNumber, Button, Select, Option } from 'element-ui';
import TownHousesTable from "./TownHousesTable";

export default {
    components: {
        TownHousesTable,
        Input,
        InputNumber,
        Select,
        Option,
        Button
    },
    data() {
        return {
            townHouses: [],
            nameFilter: '',
            minPriceFilter: '',
            maxPriceFilter: '',
            bedroomFilter: [],
            bedroomList: [1, 2, 3, 4, 5],
            bathroomFilter: [],
            bathroomList: [1, 2, 3, 4, 5],
            storeysFilter: [],
            storeysList: [1, 2, 3, 4, 5],
            garageFilter: [],
            garageList: [1, 2, 3, 4, 5]
        }
    },
    mounted(){

    },
    watch: {
        nameFilter(newVal, oldVal) {
            if(newVal.length && newVal.length > 2) {
                this.sendFilters();
            }
            if(newVal === '') {
                this.sendFilters();
            }
        },
        minPriceFilter(newVal, oldVal) {
            if(newVal.length && newVal.length > 0) {
                this.sendFilters();
            }
            if(newVal === '') {
                this.sendFilters();
            }
        },
        maxPriceFilter(newVal, oldVal) {
            if(newVal.length && newVal.length > 0) {
                this.sendFilters();
            }
            if(newVal === '') {
                this.sendFilters();
            }
        },
        bedroomFilter(newVal, oldVal) {
            this.sendFilters();
        },
        bathroomFilter(newVal, oldVal) {
            this.sendFilters();
        },
        storeysFilter(newVal, oldVal) {
            this.sendFilters();
        },
        garageFilter(newVal, oldVal) {
            this.sendFilters();
        },
    },
    methods: {
        sendFilters() {
            let filters = {
                name: this.nameFilter,
                min_price: this.minPriceFilter,
                max_price: this.maxPriceFilter,
                bedrooms: this.bedroomFilter,
                bathrooms: this.bathroomFilter,
                storeys: this.storeysFilter,
                garages: this.garageFilter,
            };

            let uri = '/api/search-townhouse';
            axios.get(uri, {
                params: {
                    filters : filters
                },
            }).then(({ data }) => {
                if (data.data) {
                    this.townHouses = data.data;
                }

            });
        },
        clearFilters() {
            this.nameFilter = '';
            this.minPriceFilter = '';
            this.minPriceFilter = '';
            this.bedroomFilter = [];
            this.bathroomFilter = [];
            this.storeysFilter = [];
            this.garageFilter = [];
            this.sendFilters();
        },
    }
}
</script>

<style>
.input-name-width {
    max-width: 200px;
}
.input-width {
    max-width: 100px;
}

</style>
