<template>
    <div>
        <Table
            :data="townHouses"
            stripe
            style="width: 100%">
            <TableColumn
                label="Name"
                prop="name">
            </TableColumn>
            <TableColumn
                label="Price">
                <template slot-scope="scope">
                    <span>{{ scope.row.price }}</span>
                </template>
            </TableColumn>
            <TableColumn
                label="Bedrooms">
                <template slot-scope="scope">
                    <span>{{ scope.row.bedrooms }}</span>
                </template>
            </TableColumn>
            <TableColumn
                label="Bathrooms">
                <template slot-scope="scope">
                    <span>{{ scope.row.bathrooms }}</span>
                </template>
            </TableColumn>
            <TableColumn
                label="Storeys">
                <template slot-scope="scope">
                    <span>{{ scope.row.storeys }}</span>
                </template>
            </TableColumn>
            <TableColumn
                label="Garages">
                <template slot-scope="scope">
                    <span>{{ scope.row.garages }}</span>
                </template>
            </TableColumn>
        </Table>
    </div>
</template>

<script>
import { Table, TableColumn } from 'element-ui';
export default {
    props:{
        townHouses: Array,
    },
    components: {
        Table,
        TableColumn
    },
    methods: {

    }
}
</script>
